<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
  	{% include logo.html %}
  	{% include nav.html %}
		<div id="content-left">
      <div id="post">
        <h2>{{ page.title }}</h2>
        <i>{{ page.author }} posted on {{ page.date | date: "%-d %b %Y" }}</i>
        {{ content }}
        {% if page.background_audio %}
          <audio id="bg-audio" src="{{ page.background_audio | relative_url }}" preload="auto"></audio>
          <script>
            (function () {
              var audio = document.getElementById("bg-audio");
              if (!audio) return;
              audio.volume = 1.0;
              var playAttempt = function () {
                var promise = audio.play();
                if (promise && promise.catch) promise.catch(function () {});
              };
              if (document.readyState === "complete") {
                playAttempt();
              } else {
                window.addEventListener("load", playAttempt);
              }
              var resume = function () {
                playAttempt();
                window.removeEventListener("click", resume);
                window.removeEventListener("keydown", resume);
              };
              window.addEventListener("click", resume);
              window.addEventListener("keydown", resume);
            })();
          </script>
        {% endif %}

        {% if page.categories.size > 0 %}
          <div id="categories">
            <p><b>Categories:</b>&nbsp;
              {% for category in page.categories %}
                <a href="{{site.url}}{{site.baseurl}}/categories/{{category}}/">#{{category}}</a>&nbsp;
              {% endfor %}
            </p>
          </div>
        {% endif %}
        
        <form
  action="https://buttondown.com/api/emails/embed-subscribe/dolphindonglers"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/dolphindonglers', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email"><b>Enter your email</b></label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" /> <a href="https://buttondown.com/refer/dolphindonglers" target="_blank">Powered by Buttondown.</a>
</form>
        {% if page.comments or site.comments %}
          <br><hr><br>
          <script src="https://utteranc.es/client.js"
            repo="dolphindonglers/dolphindonglers.github.io"
            issue-term="pathname"
            label="comments"
            theme="github-light"
            crossorigin="anonymous"
            async>
          </script>
        {% endif %}
  		</div>
    </div>
		{% include footer.html %}
	</div>
    </body>
</html>
