name: Mirror to Public Repo (Anonymous)

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror with anonymous commits
        env:
          PUBLIC_REPO_TOKEN: ${{ secrets.PUBLIC_REPO_TOKEN }}
          PRIVATE_REPO: "dolphindonglers/website"  # CHANGE THIS
          PUBLIC_REPO: "dolphindonglers/dolphindonglers.github.io"
          ANON_NAME: "Anonymous"
          ANON_EMAIL: "anonymous@example.com"
        run: |
          # Clone private repo using GitHub token
          git clone --bare https://x-access-token:${PUBLIC_REPO_TOKEN}@github.com/${PRIVATE_REPO}.git private-repo
          
          cd private-repo
          
          # Rewrite all commits with anonymous author
          git filter-branch -f --env-filter '
            export GIT_AUTHOR_NAME="'"$ANON_NAME"'"
            export GIT_AUTHOR_EMAIL="'"$ANON_EMAIL"'"
            export GIT_COMMITTER_NAME="'"$ANON_NAME"'"
            export GIT_COMMITTER_EMAIL="'"$ANON_EMAIL"'"
          ' -- --all
          
          # Push to public repo
          git push --force https://x-access-token:${PUBLIC_REPO_TOKEN}@github.com/${PUBLIC_REPO}.git main
